{% extends 'ind_fa_lay.html' %}
{% load static %}
{% block body %}

    <body class="fa-lang white rtl">
    <script type="text/javascript">
        window.$crisp = [];
        window.CRISP_WEBSITE_ID = "2cb91bbd-3456-4de4-a77b-7acbb2ac54d3";
        (function () {
            d = document;
            s = d.createElement("script");
            s.src = "https://client.crisp.chat/l.js";
            s.async = 1;
            d.getElementsByTagName("head")[0].appendChild(s);
        })();
    </script>

    <div id="thetop" style="position: absolute;top: 0;left: 0;"></div>
    <div class="totop"><a href="#thetop" class="link"><span class="totoptext">برو بالای صفحه</span><img
            src="{% static 'img/icon/intechnic-totop.svg' %}"
            alt="" class="image"></a></div>
    <div class="overlay"></div>
    <div class="sidemenu padding-large">
        <ul>
            <li id="closemenu"><i class="fa fa-times"></i></li>
            <li><a href="fa" class="link">صفحه اصلی</a></li>
            <li><a href="fa#strategy" class="link">جراحی</a></li>
            <li><a href="fa#ux" class="link">جوانسازی</a></li>
            <li><a href="fa#wd" class="link">زیبایی</a></li>
            <!-- <li><a href="#dm" class="link">Marketing</a></li> -->
            <!-- <li><a href="#roi" class="link">نتیجه</a></li> -->
            <li><a href="fa#wai" class="link">درباره ما</a></li>
            <li><a href="fa#sgr" class="link">ارتباط با ما</a></li>
            <li><a href="blog" class="link">بلاگ</a></li>
        </ul>
    </div>
    <header class="mainHeader">
        <div class="menuicon left">
            <div class="menuicondiv"></div>
            <div class="menuicondiv"></div>
            <div class="menuicondiv"></div>
        </div>
        <h1 class="logoname show-inline-block text-black">
            <img src="{% static 'img/bg/nojan.png' %}" alt="" style="height: 60px;" class="image">
        </h1>
    </header>
    <section class="center" id="" style="padding-top: 100px">

        <div>
            <h1 class=" bold center xxxlarge bottombar show-inline-block" style="padding: 0 60px !important;">
                بلاگ
            </h1>

        </div>
    </section>
    <section class="padding-large">
        <div class="row padding" style="max-width: 800px;margin: 0 auto;">
            {% for item in blog %}
                <section class="padding-large blog-post" style="">
                    <div class="round" style="overflow: hidden;">
                        <img src="{{ item.image.url }}" alt="" class="image">
                    </div>
                    <h2 class="xlarge bold " style="color: #645E60;">{{ item.title }}</h2>
                    <p>{{ item.description }}</p>
                </section>
            {% endfor %}

        </div>
    </section>
    <footer id="footer" style="margin-top: 100px">
        <img src="{% static 'img/footer.jpg' %}" alt="" class="image" style="width: 100%;">
    </footer>
    </body>

{% endblock %}