{% extends 'gift_lay.html' %}
{% load static %}
{% block body %}
    <body class="fa-lang rtl">
    <div class="gift display-middle right-align card-4 round-large padding-large padding-64 large center" style="margin-top: 80px;margin-bottom: 20px">
        <div><img src="{% static 'img/bg/nojan.png' %}" alt="" class="image white padding-large round card-4"
                  style="height: 100px;margin-top: 80px"></div>
        <br>
        <div>
            <p style="line-height: 40px">لطفا اطلاعات زیر را تکمیل و گزینه دریافت هدیه را انتخاب نمایید.</p>
        </div>
        <br>
        <div>
            <form action="/qorekeshi" method="post">
                {% csrf_token %}
                <label class="block">نام و نام خانوادگی <br><input type="text" name="fullname"
                                                                   class="input round small focus-shadow-4"></label><br>
                <label class="block">تاریخ تولد<br><input type="text" name="birthday"
                                                          class="input small round focus-shadow-4"></label><br>
                <label class="block">تلفن تماس<br><input type="text" name="phone"
                                                         class="input small round focus-shadow-4"></label><br>
                <input class="fa-box-check m-2" type="radio" name="sex" value="مرد">مرد
                <span style="margin: 0px 20px"></span>
                <input class="fa-box-check m-2" type="radio" name="sex" value="زن">زن
                <label class="center block padding-large" for="">
                    <button type="submit" class="button2 amber round hover-shadow hover-amber" style="background-color: #880E4F!important;color: white!important;"><i
                            class="far fa-gift padding-small" ></i>دریافت هدیه
                    </button>
                </label>
            </form>
        </div>
        <div>
            <p><i class="fa fa-map-marker-alt"></i>بلوار صارمی - حد فاصل هنرستان و هفت تیر - ساختمان راد - طبقه اول</p>
        </div>
        <br>
        <div>
            <p><i class="fa fa-phone"></i>051-38946373</p>
        </div>
    </div>
    </body>

{% endblock %}