{% extends 'gift_lay.html' %}
{% load static %}
{% block body %}

<body class="fa-lang rtl">
    <div class="gift display-middle right-align card-4 round-large padding-large padding-64 large center">
        <div class="block">
            <h5>لیست کاربران</h5>
            <table id="example-table">
                <tr>
                    <th>نام کاربری</th>
                    <th>ایمیل</th>
                    <th>تاریخ عضویت</th>
                </tr>
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.date_joined }}</td>
                </tr>
            </table>
        </div>
    </div>
    <script>
        var table = new Tabulator("#example-table", {
            layout: "fitColumns",
            pagination: "local",
            paginationSize: 30,
            movableColumns: true,
        });
    </script>
</body>
{% endblock %}