{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Yasin Asasi">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>کلینیک نوژن</title>
    <link rel="stylesheet" href="{% static 'libs/tabulator.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/fontawesome/css/fontawesome.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700%7CRaleway:300,600,800" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'libs/ya.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'libs/tabulator.min.js' %}"></script>
    <script>
        $(document).ready(function () {

        })
    </script>
    <style>
        body {
            /* background: url(img/bg/nojanBg.svg); */
            /* background-size: auto 103vh; */
            /* background-position: top center; */
            background-color: #941E5B;
        }

        .gift {
            width: 600px;
            max-width: 95%;
            color: #fff;
            background-color: rgba(255, 255, 255, 0.1);

        }
        .tabulator-col,
        .tabulator-cell {
            text-align: center !important;
        }

        .tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-arrow {
            left: 8px !important;
            right: unset;
        }
    </style>
</head>
{% if form.errors or form.non_field_errors %}
    <div class="container rtl">
        <div class="card center pink padding-large animate-top unselect top"
             style="z-index: 10;position: fixed;right: 0;left: 0;"><i
                class="fa fa-times text-white left display-left margin-left pointer"
                onclick="parentElement.style.top='-300px'"></i>
            <ul style="list-style-type: none;">
                {% for error in form.non_field_errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p> {{ error }} </p>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
{% endif %}
{% if messages %}
    <ul class="messages" style="list-style-type: none;direction: rtl">
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="card center green padding-large animate-top unselect top"
                     style="z-index: 10;position: fixed;right: 0;left: 0;"><i
                        class="fa fa-times text-white left display-left margin-left pointer"
                        onclick="parentElement.style.top='-300px'"></i>
                    {{ message }}
                </div>
            {% elif message.tags == 'error' %}
                <div class="card center pink padding-large animate-top unselect top"
                     style="z-index: 10;position: fixed;right: 0;left: 0;">
                    <i class="fa fa-times text-white left display-left margin-left pointer"
                       onclick="parentElement.style.top='-300px'"></i>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
{% block body %}

{% endblock %}
</html>