{% extends 'gift_lay.html' %}
{% load static %}
{% block body %}

    <body class="fa-lang rtl">
    <div class="gift display-middle right-align card-4 round-large padding-large padding-64 large center" style="margin-top: 80px;margin-bottom: 20px">
        <div><img src="{% static 'img/bg/nojan.png' %}" alt="" class="image white padding-large round card-4"
                  style="height: 100px;margin-top: 80px"></div>
        <br>
        {% if gift %}
            <div>
                <p style="line-height: 40px">جایزه شما:</p><br>
                <p style="line-height: 40px">{{ gift }}</p><br>
            </div>
            <br>
            <div>
                <div class="center"><a
                        href="/qorekeshi?fullname={{ form.cleaned_data.fullname }}&birthday={{ form.cleaned_data.birthday }}&sex={{ form.cleaned_data.sex }}&phone={{ form.cleaned_data.phone }}"
                        class="padding button2 amber round hover-shadow hover-amber" style="background-color: #880E4F!important;color: white!important;">
                    <i class="far fa-gift padding-small"></i>موقعیت جدید</a></div>
                <br>
                <p style="color: white">شما در هر ماه میتوانید <span style="color: yellow">دو جایزه</span> دریافت نمایید
                    با کلیک بر روی موقعیت جدید میتوانید جایزه دوم را دریافت نمایید.</p>
            </div>
        {% else %}
            <div>
                <p style="line-height: 40px">کلینیک تخصصی پوست و مو نوژن به پاس قدردانی از مشتریان و همراهان همیشگی با
                    راه اندازی سیستم نوژن هدیه قصد
                    دارد به کلیه عزیزان هدایایی از خدمات تخصصی کلینیک را اهدا نمایید.</p>
            </div><br>
            <div>
                <div class="center"><a href="/qorekeshi" class="padding button2 amber round hover-shadow hover-amber"
                                       style="background-color: #880E4F!important;color: white!important;"><i
                        class="far fa-gift padding-small"></i>دریافت هدیه</a></div>
                <br>
                <p>لطفا بر روی گزینه دریافت هدیه کلیک کرده و سپس اطلاعات مربوط را وارد نمایید.</p>
            </div><br>
            <div>
                <p><i class="fa fa-map-marker-alt"></i>بلوار صارمی - حد فاصل هنرستان و هفت تیر - ساختمان راد - طبقه اول
                </p>
            </div><br>
            <div>
                <p><i class="fa fa-phone"></i>051-38946373</p>
            </div>
        {% endif %}

    </div>
    </body>
{% endblock %}