{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Yasin Asasi">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>intechnic</title>
    <link rel="stylesheet" href="{% static 'libs/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/fontawesome/css/fontawesome.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700%7CRaleway:300,600,800" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'libs/ya.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            // Select all links with hashes
            $('a[href*="#"]')
                // Remove links that don't actually link to anything
                .not('[href="#"]')
                .not('[href="#0"]')
                .click(function (event) {
                    // On-page links
                    if (
                        location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') &&
                        location.hostname == this.hostname
                    ) {
                        // Figure out element to scroll to
                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                        // Does a scroll target exist?
                        if (target.length) {
                            // Only prevent default if animation is actually gonna happen
                            event.preventDefault();
                            $('html, body').animate({
                                scrollTop: target.offset().top
                            }, 1000, function () {
                                // Callback after animation
                                // Must change focus!
                                var $target = $(target);
                                $target.focus();
                                if ($target.is(":focus")) { // Checking if the target was focused
                                    return false;
                                } else {
                                    $target.attr('tabindex', '-1'); // Adding tabindex for elements not focusable
                                    $target.focus(); // Set focus again
                                };
                            });
                        }
                    }
                });
            $("#closemenu").click(function(){
                $(".sidemenu").css("transform","translateX(-350px)")
                $(".overlay").hide()
            });
            $(".menuicon").click(function(){
                $(".sidemenu").css("transform","translateX(0px)")
                $(".overlay").show()
            });
        })
    </script>
</head>
{% block body %}

{% endblock %}

</html>