{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Yasin Asasi">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>کلینیک نوژن</title>
    <link rel="icon" href="{% static 'img/bg/nojan2.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'libs/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/fontawesome/css/fontawesome.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700%7CRaleway:300,600,800" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'libs/ya.css' %}">
    <link rel="stylesheet" href="{% static 'css/main-fa.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-collision.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            // Select all links with hashes
            $('a[href*="#"]')
                // Remove links that don't actually link to anything
                .not('[href="#"]')
                .not('[href="#0"]')
                .click(function (event) {
                    // On-page links
                    if (
                        location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') &&
                        location.hostname == this.hostname
                    ) {
                        // Figure out element to scroll to
                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                        // Does a scroll target exist?
                        if (target.length) {
                            // Only prevent default if animation is actually gonna happen
                            event.preventDefault();
                            $('html, body').animate({
                                scrollTop: target.offset().top
                            }, 1000, function () {
                                // Callback after animation
                                // Must change focus!
                                var $target = $(target);
                                $target.focus();
                                if ($target.is(":focus")) { // Checking if the target was focused
                                    return false;
                                } else {
                                    $target.attr('tabindex', '-1'); // Adding tabindex for elements not focusable
                                    $target.focus(); // Set focus again
                                };
                            });
                        }
                    }
                });
            $("#closemenu").click(function () {
                $(".sidemenu").css("transform", "translateX(350px)")
                $(".overlay").hide()
            });
            $(".menuicon").click(function () {
                $(".sidemenu").css("transform", "translateX(0px)")
                $(".overlay").show()
            });
            //////////////////////

            function recthit(rectone, recttwo) {

                var r1 = $(rectone);
                var r2 = $(recttwo);

                var r1x = r1.offset().left;
                var r1w = r1.width();
                var r1y = r1.offset().top;
                var r1h = r1.height();

                var r2x = r2.offset().left;
                var r2w = r2.width();
                var r2y = r2.offset().top;
                var r2h = r2.height();

                if (r1y + r1h < r2y ||
                    r1y > r2y + r2h ||
                    r1x > r2x + r2w ||
                    r1x + r1w < r2x) {
                    return false;
                } else {
                    return true;
                }

            }
            var test = null;
            $(document).scroll(function (e) {
                $('.hitObj').each(function () {
                    if (recthit('#sidedots', $(this))) {
                        if ($(this).attr('id') == 'intro') {
                            test = 1;
                            $("#sidedots").children().css({
                                backgroundColor: '#645E60',
                                transform: 'scale(1)'
                            });
                            $("#sidedots").children().eq('0').css({
                                backgroundColor: '#D8195F',
                                transform: 'scale(1.3)'
                            });
                        } else if ($(this).attr('id') == 'strategy') {
                            test = 2;
                            $("#sidedots").children().css({
                                backgroundColor: '#645E60',
                                transform: 'scale(1)'
                            });
                            $("#sidedots").children().eq('1').css({
                                backgroundColor: '#D8195F',
                                transform: 'scale(1.3)'
                            });
                        } else if ($(this).attr('id') == 'ux') {
                            test = 3;
                            $("#sidedots").children().css({
                                backgroundColor: '#645E60',
                                transform: 'scale(1)'
                            });
                            $("#sidedots").children().eq('2').css({
                                backgroundColor: '#D8195F',
                                transform: 'scale(1.3)'
                            });
                        } else if ($(this).attr('id') == 'wd') {
                            test = 4;
                            $("#sidedots").children().css({
                                backgroundColor: '#645E60',
                                transform: 'scale(1)'
                            });
                            $("#sidedots").children().eq('3').css({
                                backgroundColor: '#D8195F',
                                transform: 'scale(1.3)'
                            });
                        } else if ($(this).attr('id') == 'roi') {
                            test = 7;
                            $("#sidedots").children().css({
                                backgroundColor: '#645E60',
                                transform: 'scale(1)'
                            });
                            $("#sidedots").children().eq('4').css({
                                backgroundColor: '#D8195F',
                                transform: 'scale(1.3)'
                            });
                        } else if ($(this).attr('id') == 'wai') {
                            test = 5;
                            $("#sidedots").children().css({
                                backgroundColor: '#645E60',
                                transform: 'scale(1)'
                            });
                            $("#sidedots").children().eq('5').css({
                                backgroundColor: '#D8195F',
                                transform: 'scale(1.3)'
                            });
                        } else if ($(this).attr('id') == 'sgr') {
                            test = 6;
                            $("#sidedots").children().css({
                                backgroundColor: '#645E60',
                                transform: 'scale(1)'
                            });
                            $("#sidedots").children().eq('6').css({
                                backgroundColor: '#D8195F',
                                transform: 'scale(1.3)'
                            });
                        } else if ($(this).attr('id') == 'footer') {
                            test = 7;
                            $("#sidedots").children().css({
                                backgroundColor: '#645E60',
                                transform: 'scale(1)'
                            });
                            $("#sidedots").children().eq('7').css({
                                backgroundColor: '#D8195F',
                                transform: 'scale(1.3)'
                            });
                        }
                    } else {
                        test = null;
                    }
                });
            });
        })
    </script>
</head>
{% block body %}

{% endblock %}

</html>