{% extends 'ind_fa_lay.html' %}
{% load static %}
{% block body %}

<body class="fa-lang white rtl">
    <script type="text/javascript">
        window.$crisp = [];
        window.CRISP_WEBSITE_ID = "2cb91bbd-3456-4de4-a77b-7acbb2ac54d3";
        (function () {
            d = document;
            s = d.createElement("script");
            s.src = "https://client.crisp.chat/l.js";
            s.async = 1;
            d.getElementsByTagName("head")[0].appendChild(s);
        })();
    </script>
    <div class="sidedots hide-small" id="sidedots">
        <a href="#thetop"></a>
        <a href="#strategy"></a>
        <a href="#ux"></a>
        <a href="#wd"></a>
        <a href="#roi"></a>
        <a href="#wai"></a>
        <a href="#sgr"></a>
        <a href="#footer"></a>
    </div>
    <div id="thetop" style="position: absolute;top: 0;left: 0;"></div>
    <div class="totop"><a href="#thetop" class="link"><span class="totoptext">برو بالای صفحه</span><img src="{% static 'img/icon/intechnic-totop.svg' %}"
                alt="" class="image"></a></div>
    <div class="overlay"></div>
    <div class="sidemenu padding-large">
        <ul>
            <li id="closemenu"><i class="fa fa-times"></i></li>
            <li><a href="#strategy" class="link">جراحی</a></li>
            <li><a href="#ux" class="link">جوانسازی</a></li>
            <li><a href="#wd" class="link">زیبایی</a></li>
            <!-- <li><a href="#dm" class="link">Marketing</a></li> -->
            <!-- <li><a href="#roi" class="link">نتیجه</a></li> -->
            <li><a href="#wai" class="link">درباره ما</a></li>
            <li><a href="#sgr" class="link">ارتباط با ما</a></li>
            <li><a href="blog" class="link">بلاگ</a></li>
        </ul>
    </div>
    <header class="mainHeader">
        <div class="menuicon left">
            <div class="menuicondiv"></div>
            <div class="menuicondiv"></div>
            <div class="menuicondiv"></div>
        </div>
        <h1 class="logoname show-inline-block text-black">
            <img src="{% static 'img/bg/nojan.png' %}" alt="" style="height: 60px;" class="image">
        </h1>
    </header>
    <section class="intro hitObj" id="intro">
        <div style="background: rgba(0,0,0,0.5);width: 100%;height: 100vh;position: absolute;top: 10px;bottom: 0;left: 0;right: 0;max-width: 100%;margin: 0;z-index: 1;"></div>
        <!-- <video autoplay loop muted class="videobg">
            <source src="img/bg/introBg.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video> -->
        <div style="z-index: 2;">
            <h1 style="line-height: 80px;" class="padding-small">
                <span style="color: #ddd !important">کلینیک<br>
                    تخصصی پوست و مو<br></span>
                <span style="color: #D8195F !important">نوژن</span>
            </h1>
            <br><br>
            <!-- <p>
                to acquire, retain, and<br>
                delight your clients
            </p> -->
            <ul class="hide-small text-white" style="">
                <li><a href="#strategy" class="link">جراحی</a></li>
                <li><a href="#ux" class="link">جوانسازی</a></li>
                <li><a href="#wd" class="link">زیبایی</a></li>
            </ul>
            <!-- <li>Strategy</li><li>UX Design</li><li>Web Design</li><li>Digital Marketing</li> -->

        </div>
    </section>
    <section class="strategy hitObj" id="strategy">
        <div>
            <h1>جراحی</h1>
            <img src="{% static 'img/bg/3.JPG' %}" alt="" class="image">
            <ul>
                <li class="bold large" style="color: #645E60;">خدمات جراحی :</li>
                <li>زیبایی بینی</li>
                <li>زیبایی پلک</li>
                <li>حذف افتادگی و پف پلک</li>
                <li>زیبایی فک و چانه</li>
                <li>لیفت صورت و بدن</li>
                <li>زاویه سازی فک</li>
                <li>پروتز های صورت و بدن</li>
                <li>ماموپلاستی و ماستو پکسی</li>
                <li> لیپوماتیک (پیکر تراش)</li>
                <li>بایپس و حلقه معده</li>
            </ul>
            <p class="half padding-small right">
                جراحی زیبایی یکی از جراحی‌هایی است که از دیر باز در دنیای پزشکی بوده است اما امروزه با پیشرفت علم و
                تکنولوژی این جراحی به مراتب راحت‌تر و مطمئن‌تر از گذشته شده است. جراحی زیبایی برای اصلاح عیوب برخی از
                اندام‌ها یا بازسازی آنها انجام میشود و اولین نکته‌ای که در جراحی زیبایی حائز اهمیت است انتخاب کاندید
                مناسب
                است.
                اگر کاندید به درستی انتخاب شود عوارض های احتمالی به حداقل خواهند رسید.
            </p>
        </div>
        <div class="clear" style="position: static;"></div>
    </section>
    <section class="ux hitObj" id="ux">
        <div>
            <h1>جوانسازی</h1>
            <img src="{% static 'img/bg/4.JPG' %}" alt="" class="image">
            <ul>
                <li class="bold large" style="color: #645E60;">خدمات جوانسازی :</li>
                <li>لیزر جوانسازی پوست</li>
                <li>ترریق ژل ، بوتاکس و چربی</li>
                <li>کربوکسی تراپی</li>
                <li>سابسیژن</li>
                <li>لیفت صورت توسط نخ</li>
                <li>لیفت پوست با آر اف فرکشنال</li>
                <li>میکرونیدلینگ</li>
                <li>میکرودرم</li>
                <li>هیدردرمی</li>
                <li>آنالیز زیبایی صورت</li>
                <li>آنالیز زیبایی پوست</li>
                <li>مراقبت های پوستی صورت و بدن</li>
            </ul>
            <p class="half padding-small right">
                پوست ما نیاز به توجه زیادی دارد تا جوان، سفت تر و فربه تر بماند. جوانسازی پوست صورت کار ساده ای نیست و
                نمی توان روند طبیعی پیری را متوقف کرد، اما می توانید با کم کردن سرعت تشکیل چروک های جدید با آن مقابله
                کرد.
                با پیشرفت علم و تکنولوژی، امروزه راه های فراوانی برای دستیابی به جوانسازی پوست وجود دارد که همگی سعی در
                جوان تر کردن پوست به رغم افزایش سن دارند.
            </p>
        </div>
        <div class="clear" style="position: static;"></div>
    </section>
    <section class="wd hitObj" id="wd">
        <div>
            <h1>زیبایی</h1>
            <img src="{% static 'img/bg/5.JPG' %}" alt="" class="image">
            <ul>
                <li class="bold large" style="color: #645E60;">خدمات زیبایی :</li>
                <li>لیزر الکساندرایت</li>
                <li>کاشت مو</li>
                <li>کاشت ابرو و ریش</li>
                <li>پلاکت درمانی</li>
                <li>مزوتراپی</li>
                <li>کرایولیپولیز</li>
                <li>آر اف کویتیشن وکیوم</li>
                <li>آنالیز بدن و رژیم درمانی</li>
                <li>ایمپلنت</li>
                <li>لمینت</li>
                <li>جراحی لثه و دندان</li>
            </ul>
            <p class="half padding-small right">
                زیبایی پوست ، مو و اندام تاثیر بسزایی در ایجاد احساس شادابی و جوانی در افراد دارد که برای داشتن پوست ،
                مو و
                اندام زیبا و جوان می توان از روش های مختلفی استفاده کرد . این روش ها عبارتند از لیزر موهای زائد ، کاشت
                مو ،
                اصلاح رژیم غذایی ، استفاده از پرتو درمان و زیبایی لبخند .. از جمله عوامل موثر بر پیری هر فرد فاکتورهای
                مختلفی
                مانند افزایش سن ، ساختار ژنتیکی ، اثرات هورمونی ، رژیم غذایی نامناسب ، مصرف الکل ، سیگار ، جاذبه ی زمین
                و
                … است . با گذشت زمان و بالا رفتن سن پوست فرد به مرور آسیب می بیند و ساختار جوانی در فرد رفته رفته از
                بین
                می
                رود .
                برای درمان این مسائل از روش های مختلفی استفاده می شود .
            </p>
        </div>
        <div class="clear" style="position: static;"></div>
    </section>
    <!-- <section class="dm" id="dm">
        <div>
            <h1>Marketing</h1>
            <img src="img/bg/2.JPG" alt="" class="image">
            <ul>
                <li>Inbound Marketing</li>
                <li>Content Marketing</li>
                <li>Retargeting</li>
                <li>Social Media</li>
                <li>SEO</li>
                <li>PPC</li>
                <li>CRM & Sales</li>
            </ul>
            <p class="half padding-small right">
                    When it comes to the success of your website, app or software, strategy is everything. It’s the foundation for your success. It’s do or die.
                    <br>
                    We understand business. That's why we begin every project with a workshop — crafting a one-of-a-kind, unique strategy that is designed to help you win.
            </p>
        </div>
        <div class="clear" style="position: static;"></div>
    </section> -->
    <section class="roi hitObj" id="roi">
        <div class="max-w">
            <h1 class=" " style="color: #D8195F;">نوژن</h1><br><br>
            <h2 class="text-white "> در کنار شما </h2>
            <div class="fnone margin-bottom"></div><br><br><br><br><br><br>
            <div class="roi-sq">
                <div class="half left">
                    <img src="{% static 'img/insurance-background.jpg' %}" alt="" class="image">
                </div>
                <div class="right half relative">
                    <div class="squr1"></div>
                    <div class="squr"></div>
                    <div class="squr2"></div>
                    <div class="clear" style="position: static;"></div>
                </div>
                <div class="clear" style="position: static;"></div>
            </div>
            <div class="roi-sq">
                <div class="half right">
                    <img src="{% static 'img/finance-background.jpg' %}" alt="" class="image">
                </div>
                <div class="left half relative">
                    <div class="squr3"></div>
                    <div class="squr"></div>
                    <div class="squr4"></div>
                    <div class="clear" style="position: static;"></div>
                </div>
                <div class="clear" style="position: static;"></div>
            </div>
            <div class="roi-sq">
                <div class="half left">
                    <img src="{% static 'img/manufacturing-background.jpg' %}" alt="" class="image">
                </div>
                <div class="right half relative">
                    <div class="squr1"></div>
                    <div class="squr"></div>
                    <div class="squr2"></div>
                    <div class="clear" style="position: static;"></div>
                </div>
                <div class="clear" style="position: static;"></div>
            </div>
            <div class="roi-sq">
                <div class="half right">
                    <img src="{% static 'img/project_camping_world.jpg' %}" alt="" class="image">
                </div>
                <div class="left half relative">
                    <div class="squr3"></div>
                    <div class="squr"></div>
                    <div class="squr4"></div>
                    <div class="clear" style="position: static;"></div>
                </div>
                <div class="clear" style="position: static;"></div>
            </div>
            <div class="roi-sq">
                <div class="half left">
                    <img src="{% static 'img/project_osa.jpg' %}" alt="" class="image">
                </div>
                <div class="right half relative">
                    <div class="squr1"></div>
                    <div class="squr"></div>
                    <div class="squr2"></div>
                    <div class="clear" style="position: static;"></div>
                </div>
                <div class="clear" style="position: static;"></div>
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="clear" style="position: static;"></div>
    </section>
    <section class="wai hitObj" id="wai">
        <div class="max-w">
            <h1 class=" show-inline-block" style="color: #645E60;">درباره</h1>
            <h2 class="" style="color: #D8195F">نوژن</h2>
            <div class="fnone margin-bottom"></div>
            <br><br><br><br><br><br>
            <!-- <ul class="hide-small">
                <li>About</li>
                <li>Process</li>
                <li>Expertise</li>
                <li>People</li>
            </ul> -->
            <p class="twothird fnone padding-small">
                کلینیک تخصصی پوست و مو نوژن، مجموعه ای خاص از مجهزترین و کاملترین خدمات
                پوست و مو، تناسب اندام و جراحی های زیبایی با تکیه بر جلب رضایت و اعتماد شما عزیزان با
                هدف جلب رضایتمندی هرچه بیشتر می کوشد تا با ارائه نوآوری در زمینه خدمات زیبایی
                لبخند را برای شما بوجود آورد.
                کلینیک تخصصی پوست و مو نوژن محیطی منحصر به فرد و مجهز از جدیدترین و پیشترفته
                ترین دستگاه های روز جهان را گرد هم آورده تا در کنار تیمی از پزشکان صاحب نظر و با
                تجربه سلامتی و امنیت را برای شما به ارمغان آورد.
                کادر حرفه ای کلینیک تخصصی پوست ، مو و زیبایی نوژن از ابتدای مسیر تا اتمام تمامی مراحل درمان در
                کنارتان خواهند بود تا خاطری آسوده با راهنمایی های لازم و کاربردی در اختیارتان قرار دهند.
                <br>
                <br>
                <span class="border-top block"> </span>
                <span class="bolder xlarge" style="color: #645E60;">ارزش ها و تمایز ها :</span><br>
                <br> 1 – محیط پر انرژی
                <br> 2 – پزشکان صاحب سبک
                <br> 3 – کارشناسان متعهد
                <br> 4 – دستگاه های کاملا مدرن در کلاس جهانی
                <br> 5 – بروزترین متد های درمان
                <br> 6 – پیگیری روند درمان
                <br> 7 – سهولت در طول درمان
                <br> 8 – نوبت دهی آسان

                <br>
                <br>
                <span class="border-top block"> </span>
                <span class="bolder xlarge" style="color: #645E60;">
                    نوژن در یک نگاه
                </span>
                <br><br>
                <span class="bold">
                    جراحی :
                </span>
                <br>
                کلینیک تخصصی پوست و مو نوژن جراحی های زیبایی با مراقبت و کیفیت بالا به عمل
                می آورد . اگر می خواهید جراحی زیبایی بهتری داشته باشید کادر پزشکی کلینیک
                نوژن با اسفاده از متدهای روز دنیا نتیجه ای مثمر ثمر برای شما به ارمغان می آورند .
                <br>
                <br>
                <span class="bold">
                    جوانسازی :
                </span>
                <br>
                جوانسازی پوست به شما کمک می کند با داشتن سن پوستی بالا از داشتن پوستی
                شاداب و جوان لذت ببرید. روش های جدید و مدرنی برای زیبای سازی و جوانسازی
                پوست توسط پزشکان کلینیک نوژن فراهم گردیده است .
                <br><br>
                <span class="bold">
                    زیبایی :
                </span>
                <br>
                اهدای زیبایی با بهترین روش های زیبایی متناسب با پوست ، مو و اندام شما به صورت
                کاملا علمی این اطمینان را به شما می دهد که پس از انجام روش های کاملا بروز زیبایی
                شاهد پوست ، مو و اندامی زیبا باشید .
                <br><br>
                <span class="border-top block"> </span>

                <span class="bold xlarge" style="color: #645E60;">
                    چرا کلینیک نوژن :
                </span>
                <br>
                <br> 1 – محیط پر انرژی
                <br> 2 – پزشکان صاحب سبک
                <br> 3 – کارشناسان متعهد
                <br> 4 – دستگاه های کاملا مدرن در کلاس جهانی
                <br> 5 – بروزترین متد های درمان
                <br> 6 – پیگیری روند درمان
                <br> 7 – سهولت در طول درمان
                <br> 8 – نوبت دهی آسان
                <br>
            </p>
        </div>
    </section>
    <section class="sgr hitObj" id="sgr">
        <div class="max-w">
            <h1 class="" style="color: #645E60;">ارتباط با</h1><br>
            <h2 class="" style="color: #D8195F">نوژن</h2>
            <div class="fnone margin-bottom"></div>
            <br><br><br><br><br><br>
            <form action="" style="color: #645E60;">
                <div class="half">
                    <div class="row padding-small">
                        <label class="section block">نام
                            <input type="text" class="input padding-large">
                        </label>
                        <label class="section block">شماره تلفن همراه
                            <input type="number" class="input padding-large">
                        </label>
                        <!-- <label class="section block">Company
                            <input type="text" class="input padding-large">
                        </label> -->
                        <div class="clear" style="position: static;"></div>
                    </div>
                    <div class="clear" style="position: static;"></div>
                </div>
                <div class="half">
                    <div class="row padding-small">
                        <label class="section block">نام خانوادگی
                            <input type="text" class="input padding-large">
                        </label>
                        <label class="section block">ایمیل
                            <input type="email" class="input padding-large">
                        </label>
                        <!-- <label class="section block">Test
                            <input type="text" class="input padding-large">
                        </label> -->
                        <div class="clear" style="position: static;"></div>
                    </div>
                    <div class="clear" style="position: static;"></div>
                </div>
                <div class="clear" style="position: static;"></div>
                <label class="padding-small">
                    <input type="submit" class="padding-large button2 text-white hover-white hover-text-red bolder transition-3"
                        value="ارسال پیام" style="background-color: #D8195F">
                </label>
            </form>
        </div>
        <div class="clear" style="position: static;"></div>
    </section>
    <footer id="footer" class="hitObj">
        <img src="{% static 'img/footer.jpg' %}" alt="" class="image" style="width: 100%;">
    </footer>
</body>

{% endblock %}