{% extends 'ind_lay.html' %}
{% load static %}
{% block body %}
    <body class="en-lang white">
    <div id="thetop" style="position: absolute;top: 0;left: 0;"></div>
    <div class="totop"><a href="#thetop" class="link"><span class="totoptext">To Top</span><img
            src="{% static 'img/icon/intechnic-totop.svg' %}" alt="" class="image"></a></div>
    <div class="overlay"></div>
    <div class="sidemenu padding-large">
        <ul>
            <li id="closemenu"><i class="fa fa-times"></i></li>
            <li><a href="#strategy" class="link">Strategy</a></li>
            <li><a href="#ux" class="link">UX</a></li>
            <li><a href="#wd" class="link">Web Design</a></li>
            <li><a href="#dm" class="link">Marketing</a></li>
            <li><a href="#roi" class="link">Results</a></li>
            <li><a href="#wai" class="link">About</a></li>
            <li><a href="#sgr" class="link">Contact</a></li>
            <li><a href="#" class="link">Blog</a></li>
        </ul>
    </div>
    <header class="mainHeader">
        <div class="menuicon left">
            <div class="menuicondiv"></div>
            <div class="menuicondiv"></div>
            <div class="menuicondiv"></div>
        </div>
        <h1 class="logoname show-inline-block text-black">intechnic</h1>
    </header>
    <section class="intro">
        <div>
            <h1>
                Ultimate<br>
                Digital<br>
                Experiences
            </h1><br><br>
            <p>
                to acquire, retain, and<br>
                delight your clients
            </p>
            <ul class="hide-small">
                <li><a href="#strategy" class="link">Strategy</a></li>
                <li><a href="#ux" class="link">User experience</a></li>
                <li><a href="#wd" class="link">Web Design</a></li>
                <li><a href="#dm" class="link">Digital Marketing</a></li>
            </ul>
            <!-- <li>Strategy</li><li>UX Design</li><li>Web Design</li><li>Digital Marketing</li> -->

        </div>
    </section>
    <section class="strategy" id="strategy">
        <div>
            <h1>Strategy</h1>
            <img src="{% static 'img/bg/3.JPG' %}" alt="" class="image">
            <ul>
                <li>Strategy Blueprints</li>
                <li>Market Research</li>
                <li>Customer Interviews</li>
                <li>Buyer Personas</li>
                <li>Customer Journeys</li>
                <li>Competitive Analysis</li>
                <li>SWOT Analysis</li>
            </ul>
            <p class="half padding-small">
                When it comes to the success of your website, app or software, strategy is everything. It’s the
                foundation for your success. It’s do or die.
                <br>
                We understand business. That's why we begin every project with a workshop — crafting a one-of-a-kind,
                unique strategy that is designed to help you win.
            </p>
        </div>
        <div class="clear" style="position: static;"></div>
    </section>
    <section class="ux" id="ux">
        <div>
            <h1>UX Design</h1>
            <img src="{% static 'img/bg/4.JPG' %}" alt="" class="image">
            <ul>
                <li>User Research</li>
                <li>Information Architecture</li>
                <li>Wireframing &amp; Prototyping</li>
                <li>UI Design</li>
                <li>Responsive Design</li>
                <li>Usefulness Testing</li>
                <li>Usability Testing</li>
                <li>UX Audits</li>
            </ul>
            <p class="half padding-small">
                When it comes to the success of your website, app or software, strategy is everything. It’s the
                foundation for your success. It’s do or die.
                <br>
                We understand business. That's why we begin every project with a workshop — crafting a one-of-a-kind,
                unique strategy that is designed to help you win.
            </p>
        </div>
        <div class="clear" style="position: static;"></div>
    </section>
    <section class="wd" id="wd">
        <div>
            <h1>Web Design</h1>
            <img src="{% static 'img/bg/5.JPG' %}" alt="" class="image">
            <ul>
                <li>Creative Direction</li>
                <li>Interactive Experiences</li>
                <li>Branding</li>
                <li>Copywriting</li>
                <li>Photography</li>
                <li>Video Production</li>
                <li>Business Integration</li>
            </ul>
            <p class="half padding-small right">
                When it comes to the success of your website, app or software, strategy is everything. It’s the
                foundation for your success. It’s do or die.
                <br>
                We understand business. That's why we begin every project with a workshop — crafting a one-of-a-kind,
                unique strategy that is designed to help you win.
            </p>
        </div>
        <div class="clear" style="position: static;"></div>
    </section>
    <section class="dm" id="dm">
        <div>
            <h1>Marketing</h1>
            <img src="{% static 'img/bg/2.JPG' %}" alt="" class="image">
            <ul>
                <li>Inbound Marketing</li>
                <li>Content Marketing</li>
                <li>Retargeting</li>
                <li>Social Media</li>
                <li>SEO</li>
                <li>PPC</li>
                <li>CRM & Sales</li>
            </ul>
            <p class="half padding-small right">
                When it comes to the success of your website, app or software, strategy is everything. It’s the
                foundation for your success. It’s do or die.
                <br>
                We understand business. That's why we begin every project with a workshop — crafting a one-of-a-kind,
                unique strategy that is designed to help you win.
            </p>
        </div>
        <div class="clear" style="position: static;"></div>
    </section>
    <section class="roi" id="roi">
        <div class="max-w">
            <h1 class="text-red">We Deliver</h1>
            <h2 class="text-white left">ROI</h2><span class="left">Results <br> on Internet®</span>
            <div class="fnone margin-bottom"></div>
            <br><br><br><br><br><br>
            <div class="roi-sq">
                <div class="half left">
                </div>
                <img src="{% static 'img/insurance-background.jpg' %}" alt="" class="image">
                <div class="right half relative">
                    <div class="squr1"></div>
                    <div class="squr2"></div>
                    <div class="clear" style="position: static;"></div>
                </div>
                <div class="clear" style="position: static;"></div>
            </div>
            <div class="roi-sq">
                <div class="half right">
                </div>
                <img src="{% static 'img/finance-background.jpg' %}" alt="" class="image">
                <div class="left half relative">
                    <div class="squr3"></div>
                    <div class="squr"></div>
                    <div class="squr4"></div>
                    <div class="clear" style="position: static;"></div>
                </div>
                <div class="clear" style="position: static;"></div>
            </div>
            <div class="roi-sq">
                <div class="half left">
                </div>
                <img src="{% static 'img/manufacturing-background.jpg' %}" alt="" class="image">
                <div class="right half relative">
                    <div class="squr1"></div>
                    <div class="squr2"></div>
                    <div class="clear" style="position: static;"></div>
                </div>
                <div class="clear" style="position: static;"></div>
            </div>
            <div class="roi-sq">
                <div class="half right">
                    <img src="{% static 'img/project_camping_world.jpg' %}" alt="" class="image">
                </div>
                <div class="left half relative">
                    <div class="squr3"></div>
                    <div class="squr"></div>
                    <div class="squr4"></div>
                    <div class="clear" style="position: static;"></div>
                </div>
                <div class="clear" style="position: static;"></div>
            </div>
            <div class="roi-sq">
                <div class="half left">
                    <img src="{% static 'img/project_osa.jpg' %}" alt="" class="image">
                </div>
                <div class="right half relative">
                    <div class="squr1"></div>
                    <div class="squr2"></div>
                    <div class="clear" style="position: static;"></div>
                </div>
                <div class="clear" style="position: static;"></div>
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="clear" style="position: static;"></div>
    </section>
    <section class="wai" id="wai">
        <div class="max-w">
            <h1 class="text-black">We Are</h1>
            <h2 class="text-red left">Intechnic</h2>
            <div class="fnone margin-bottom"></div>
            <br><br><br><br><br><br>
            <!-- <ul class="hide-small">
                <li>About</li>
                <li>Process</li>
                <li>Expertise</li>
                <li>People</li>
            </ul> -->
            <p class="third fnone padding-small">
                For over 20 years, we have been creating high-performance websites, apps, and software that deliver
                ultimate digital experiences for financial services and insurance companies, nonprofits, and government
                agencies.
                <br>
                <br>
                We believe that creating customer-centric experiences based on UX best practices, market research, and
                user testing is the best way to achieve Results on Internet® (ROI).

                <br>
                <br>
                Here’s how we get you Results on Internet® (ROI):
                <br>
                <br>
                We begin with research and customer interviews to create a winning strategy.
                We build, test, and refine user experiences based on years of solid research, not guesswork.
                We design and develop a final product that blows the competition out of the water.
                We remain by your side, driving and engaging customers for even better results.
                We don’t like to brag, but we are not shy about what’s on our resume:
                <br>
                <br>
                20+ Years of Experience
                Fortune 500 Client List
                Clients in 30+ Countries
                20+ Leading Industry Awards
                Recognized Leaders in User Experience
                Members of Forbes Technology Council
                Published Authors & Columnists
                HubSpot™ Certified Partner
            </p>
        </div>
    </section>
    <section class="sgr" id="sgr">
        <div class="max-w">
            <h1 class="text-black">Start Getting</h1>
            <h2 class="text-red left">Results</h2><span class="left">+1 855 WWW-PROS</span>
            <div class="fnone margin-bottom"></div>
            <br><br><br><br><br><br>
            <form action="">
                <div class="half">
                    <div class="row padding-small">
                        <label class="section block">First Name
                            <input type="text" class="input padding-large">
                        </label>
                        <label class="section block">Phone
                            <input type="number" class="input padding-large">
                        </label>
                        <label class="section block">Company
                            <input type="text" class="input padding-large">
                        </label>
                        <div class="clear" style="position: static;"></div>
                    </div>
                    <div class="clear" style="position: static;"></div>
                </div>
                <div class="half">
                    <div class="row padding-small">
                        <label class="section block">Last Name
                            <input type="text" class="input padding-large">
                        </label>
                        <label class="section block">Email
                            <input type="email" class="input padding-large">
                        </label>
                        <label class="section block">Test
                            <input type="text" class="input padding-large">
                        </label>
                        <div class="clear" style="position: static;"></div>
                    </div>
                    <div class="clear" style="position: static;"></div>
                </div>
                <div class="clear" style="position: static;"></div>
                <label class="padding-small">
                    <input type="submit"
                           class="padding-large button2 red hover-white hover-text-red bolder transition-3"
                           value="Send Message">
                </label>
            </form>
        </div>
        <div class="clear" style="position: static;"></div>
    </section>
    <section></section>
    <section></section>
    <section></section>
{#    <footer>#}
{#        <img src="{% static 'img/footer.jpg' %}" alt="" class="image" style="width: 100%;">#}
{#    </footer>#}
    </body>
{% endblock %}