@font-face{
    font-family: sahel;
    src: url(Sahel-FD.ttf);
}
ul{
    list-style: none;
}
.en-lang{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.fa-lang:not(i){
    font-family: sahel;
}
.menuicon {
    width: 30px;
    cursor: pointer;
    transition: .3s;
    position: relative;
    top: 25px;
    left: 20px;
    display: inline-block;
}

.menuicon .menuicondiv {
    height: 2px;
    width: 100%;
    background: #000;
    margin: 6px 0;
    transition: .3s;
    position: relative;
}

.menuicon:hover .menuicondiv:first-child {
    transition: .3s;
    transform: translateY(-5px);
}

.menuicon:hover .menuicondiv:last-child {
    transition: .3s;
    transform: translateY(5px);
}
.mainHeader{
    height: 80px;
    background-color: #fff;
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
    padding: 0 50px;
    box-shadow: 0 0 120px rgba(0,0,0,0.16);
    z-index: 50;
}
.logoname{
    position: relative;
    left: 100px;
    font-weight: 300;
    
}
.intro{
    height: 100vh;
    background-color: antiquewhite;
    background-image: url(../img/bg/1.JPG);
    background-size: cover;
}
.intro div{
    position: relative;
    top: 27vh;
    max-width: 840px;
    margin: 0 auto;
    color: #fff; 
}
.intro h1{
    font-weight: bolder;
    font-size: 55px;
    line-height: 60px;
}
.intro p{
    font-size: 23px;
}
.intro ul{
    position: relative;
    /* bottom: -46vh; */
    /* left: 0;
    right: 0; */
    /* max-width: 840px; */
    width: max-content;
    /* margin: 0 auto; */
    /* border: 1px solid rgba(255,255,255,0.3); */
    top: 130px;
    border-collapse: collapse;
}
.intro ul li{
    display: inline-block;
    list-style: none;
    padding: 10px 20px;
    border: 1px solid rgba(255,255,255,0.3);
    border-collapse: collapse;
}
/* .intro ul li:first-child{
     border: 0px solid transparent;
} */
.intro ul li:hover{
    background-color: #fff;
    cursor: pointer;
    color: #555;
}
/* .strategy{
    padding-bottom: 50px;
} */
.strategy div{
    max-width: 840px;
    margin: 0 auto;
    padding-top: 100px;
}
.strategy h1{
    font-weight: bolder;
    font-size: 80px;
    position: relative;
    bottom: -38px;
    left: 40px;
}
.strategy ul{
    float: right;
    padding: 40px;
    box-shadow: 0 100px 250px rgba(66,0,5,0.2);
    width: 300px;
    position: relative;
    top: -50px;
    right: 50px;
    z-index: 40;
    display: block;
    background: #fff;
    color: #555;
}
.strategy ul li{
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
.strategy ul li:last-child{
    list-style: none;
    padding: 10px 0;
    border-bottom: 0px solid #ccc;
}
.strategy p{
    margin-top: 100px;
    /* margin-left: 50px; */
    font-size:  20px;
    line-height: 40px;
    color: #555;
}
.ux div{
    max-width: 840px;
    margin: 0 auto;
    padding-top: 100px;
}
.ux h1{
    font-weight: bolder;
    font-size: 80px;
    position: relative;
    bottom: -38px;
    left: 40px;
}
.ux ul{
    float: right;
    padding: 40px;
    box-shadow: 0 100px 250px rgba(30,96,178,0.2);
    width: 300px;
    position: relative;
    top: -50px;
    right: 50px;
    z-index: 40;
    display: block;
    background: #fff;
    color: #555;
}
.ux ul li{
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
.ux ul li:last-child{
    list-style: none;
    padding: 10px 0;
    border-bottom: 0px solid #ccc;
}
.ux p{
    margin-top: 100px;
    /* margin-left: 50px; */
    font-size:  20px;
    line-height: 40px;
    color: #555;
}
.wd div{
    max-width: 840px;
    margin: 0 auto;
    padding-top: 100px;
}
.wd h1{
    font-weight: bolder;
    font-size: 80px;
    position: relative;
    bottom: -38px;
    left: 40px;
}
.wd ul{
    float: left;
    padding: 40px;
    box-shadow: 0 100px 250px rgba(0,66,19,0.2);
    width: 300px;
    position: relative;
    top: -50px;
    left: 50px;
    z-index: 40;
    display: block;
    background: #fff;
    color: #555;
}
.wd ul li{
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
.wd ul li:last-child{
    list-style: none;
    padding: 10px 0;
    border-bottom: 0px solid #ccc;
}
.wd p{
    margin-top: 100px;
    /* margin-left: 150px; */
    font-size:  20px;
    line-height: 40px;
    color: #555;
}
.dm{
    padding-bottom: 150px
}
.dm div{
    max-width: 840px;
    margin: 0 auto;
    padding-top: 100px;
}
.dm h1{
    font-weight: bolder;
    font-size: 80px;
    position: relative;
    bottom: -38px;
    left: 40px;
}
.dm ul{
    float: left;
    padding: 40px;
    box-shadow: 0 100px 250px rgba(63,21,0,0.2);
    width: 300px;
    position: relative;
    top: -50px;
    left: 50px;
    z-index: 40;
    display: block;
    background: #fff;
    color: #555;
}
.dm ul li{
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
.dm ul li:last-child{
    list-style: none;
    padding: 10px 0;
    border-bottom: 0px solid #ccc;
}
.dm p{
    margin-top: 100px;
    /* margin-left: 150px; */
    font-size:  20px;
    line-height: 40px;
    color: #555;
}
.roi{
    padding: 150px 0;
    background-color: #221f1f;
}
.roi .max-w{
    max-width: 840px;
    margin: 0 auto;
}
.roi h1{
    font-size: 100px;
    font-weight: bolder;
    line-height: 100px;
    margin: 0;
}
.roi h2{
    font-size: 100px;
    font-weight: bolder;
    display: inline-block;
    line-height: 100px;
    margin: 0;
}
.roi span{
    font-size: 20px;
    color: #fff;
}
.roi-sq{
    position: relative;
}
.squr{
    width: 50%;
    padding-top: 50%;
    background: transparent;
    position: relative;
}
.squr1{
    width: 50%;
    padding-top: 50%;
    background: #fff;
    position: relative;
    
}
.squr2{
    width: 50%;
    padding-top: 50%;
    background: #2c2929;
    position: absolute;
    right: 0;
}
.squr3{
    width: 50%;
    padding-top: 50%;
    background: #fff;
    position: absolute;
    right: 0;
}
.squr4{
    width: 50%;
    padding-top: 50%;
    background: #2c2929;
    position: absolute;
    left: 0;
}
@media (max-width:601px){
    .squr1,
    .squr2,
    .squr3,
    .squr4{
        width: 100%;
        position: static;
    }
    .squr{
        display: none;
    }
}
.wai{
    padding: 150px 0;
}
.wai .max-w{
    max-width: 840px;
    margin: 0 auto;
}
.wai h1{
    font-size: 100px;
    font-weight: bolder;
    line-height: 100px;
    margin: 0;
}
.wai h2{
    font-size: 100px;
    font-weight: bolder;
    display: inline-block;
    line-height: 100px;
    margin: 0;
}
.wai p{
    font-size:  20px;
    line-height: 40px;
    color: #555;
    margin: 0 auto;
}
.wai ul{
    list-style: none;
    font-size: 30px;
    font-weight: bolder;
    color: #ccc;
    position: absolute;
}
.wai ul li:hover{
    color: #000;
    cursor: pointer;
}
.sgr{
    background-color: #f3f3f3;
    padding: 150px 0;
}
.sgr .max-w{
    max-width: 840px;
    margin: 0 auto;
}
.sgr h1{
    font-size: 100px;
    font-weight: bolder;
    line-height: 100px;
    margin: 0;
}
.sgr h2{
    font-size: 100px;
    font-weight: bolder;
    display: inline-block;
    line-height: 100px;
    margin: 0;
}
.sgr span{
    font-size: 25px;
    color: #aaa;
    margin-top: 45px;
    margin-left: 20px;
}
.sgr label{
    margin-bottom: 50px !important;
}
.sidemenu{
    width: 330px;
    background: #fff;
    z-index: 60;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    box-shadow: 0 100px 250px rgba(66,0,5,0.2);
    font-size: 27px;
    font-weight: bolder;
    transform: translateX(-350px);
    transition: .3s;
}
.sidemenu li{
    padding-top: 17px;
}
.sidemenu li:hover{
    color: #d82533;
    cursor: pointer;
}
.overlay{
    z-index: 59;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.16);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* display: block; */
    transition: .3s;
}
.menuhide{
    transform: translateX(-350px);
}
.totop{
    position: fixed;
    bottom: 20px;
    left: 20px;
}
.totop img{
    position: relative;
    left: -47px;
    height: 52px;
}
.totoptext{
    transform: rotate(-90deg);
    display: inline-block;
    position: relative;
    left: -14px;
    bottom: 61px;
    color: #D82533;
    font-weight: bold;
}